.letter {
  height: 2.5rem;
  width: 2.5rem;
}
.backspace {
  width: 5rem;
  height: 2.5rem;
}

@media screen and (max-width: 425px) {
  .letter {
    height: 1.75rem;
    width: 1.75rem;
  }
  .backspace {
    width: 3.5rem;
    height: 1.75rem;
  }
}
