.keyboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding-bottom: 3rem;

  &__row {
    display: flex;
    gap: 0.5rem;
  }
}
